* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    ul{
        padding: 0;
    }
}

#profile-section {
    display: flex;
    font-family: 'Inter', sans-serif;

    .profile-sidebar {
        width: 290px;
        height: 100vh;
        position: fixed;
        background-color: #212944;
        padding: 24px;
        display: flex;
        flex-direction: column;
        left: 0;
        transition: 0.2s linear;

        .profile-logo {
            margin-bottom: 50px;
        }

        .profile-tabs {
            ul {
                margin-bottom: 24px;

                li {
                    margin-bottom: 12px;

                    a {
                        color: rgba(255, 255, 255, 0.5);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 12px 24px;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            border-radius: 6px;
                            width: 24px;
                            height: 24px;
                            margin-right: 24px;

                            img {
                                filter: brightness(0) saturate(100%) invert(79%) sepia(0%) saturate(3312%) hue-rotate(332deg) brightness(91%) contrast(109%);
                            }
                        }
                    }
                }

                li a:hover,
                li a.active {
                    background-color: #2C375A;
                    color: white;

                    span {
                        border-color: white;

                        img {
                            filter: unset;
                        }
                    }
                }
            }
        }

    }

    .admin-content {
        width: 80%;
        right: 0;
        min-height: 100vh;
        position: fixed;
        display: flex;
        padding: 0px 20px 0px 5px;
        flex-direction: column;



        .admin-box {
            padding-top: 18px;
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #667085;

            .admin-text {
                h1 {
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 38px;
                    color: #101828;
                    margin-bottom: 4px;
                }

            }

        }
    }
}

#anc__form, #cv__form {
    display: none;
}