* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }
}

body {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 25px 0px;
    font-family: 'Roboto', sans-serif;

    .header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-button {
            background-image: url(/assets/images/home-page/menu-icons/open-menu.svg);
            left: 0;
            border: 0;
            margin-top: 2px;
            width: 25px;
            height: 34px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            display: none;

        }

        .header-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;



            img {
                width: 190px;
                margin-top: 6px;
            }
        }

        .header-actions {
            display: flex;

            .user-buttons {
                display: flex;
                align-items: center;

                .login-button {
                    width: 160px;
                    height: 48px;
                    font-size: 16px;
                    font-weight: 300;
                    color: #000;
                    font-weight: normal;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s ease;
                    border: 1px solid transparent;
                    background-color: #f3f6f9;
                    border-radius: 12px;

                }

                .ad-announcement-button {
                    width: 160px;
                    height: 45px;
                    font-size: 16px;
                    background-color: #1f9dff;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px;
                    margin-left: 9px;
                    transition: .3s ease;
                    border: 1px solid #1f9dff;

                    &:hover {
                        border: 1px solid #1f9dff;
                        background-color: #fff;
                        color: #1f9dff;

                        #Line_1,
                        #Line_2,
                        #Ellipse_93 {
                            stroke: #1f9dff;
                        }
                    }
                }

                svg {
                    margin-right: 10px;
                    width: 14px;
                }
            }

            .wish-and-theme {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .wishlist {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    color: #061e40;
                    width: 40px;
                    height: 40px;
                    margin-left: 14px;
                    background-color: #f3f6f9;


                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    background-image: url(/assets/images/home-page/wish-icons/heart.svg);
                    background-size: 18px;
                    opacity: 1;

                }

                .white-mode-btn {
                    background-image: url(/assets/images/home-page/mode-icons/moon.svg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-size: 18px;
                    width: 40px;
                    height: 40px;
                    background-color: #f3f6f9;
                    border-radius: 12px;
                    border: transparent;
                }

                .night-mode-btn {
                    background-image: url(/assets/images/home-page/mode-icons/sun.svg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-size: 18px;
                    width: 40px;
                    height: 40px;
                    background-color: #061e40;
                    border-radius: 12px;
                    border: transparent;

                    //
                    // display: none;
                }
            }

        }


    }

}



.error-message {
    color: red;
}

#dropmenu {
    display: block;
    background-color: #ffffff;
    color: black !important;
    width: 100%;
    height: auto;
    padding: 20px 15px 0px;
    position: absolute;
    height: 100%;
    z-index: 15;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    left: 0;


    ul {
        list-style: none !important;
        padding: 0;

        .login-button {
            width: 100%;
            height: 48px;
            font-size: 16px;
            font-weight: 300;
            color: #000;
            font-weight: normal;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease;
            border: 1px solid transparent;
            background-color: #f3f6f9;
            border-radius: 12px;

        }


        .ad-announcement-button {
            width: 100%;
            height: 45px;
            font-size: 16px;
            background-color: #1f9dff;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            margin-left: 0px;
            margin-top: 7px;
            transition: .3s ease;
            border: 1px solid #1f9dff;

            &:hover {
                border: 1px solid #1f9dff;
                background-color: #fff;
                color: #1f9dff;

                #Line_1,
                #Line_2,
                #Ellipse_93 {
                    stroke: #1f9dff;
                }
            }
        }

        li {
            position: relative;
            float: left;
            width: 100%;
            border-bottom: 1px solid #f1f1f1;
            padding: 14px;

        }

        a {
            color: rgb(0, 0, 0);
            text-decoration: none !important;
        }
    }

}

#dropmenu.show {
    transform: translateX(0);
}

main {
    font-family: 'Poppins', sans-serif;

    .search-area {
        position: relative;
        padding-top: 25px;

        .blue-box {
            background-color: #1f9dff;
            width: 100%;
            height: 107px;
            position: absolute;
            z-index: 0;
            top: 0;
        }

        .search-tabs {
            position: relative;
            display: flex;
            float: left;
            list-style: none;
            padding: 0;

            .active {
                font-size: 18px;
                font-weight: bold;
            }

            li {
                a {
                    color: #fff;
                    font-weight: 500;
                    font-size: 14px;
                }

                &:not(:last-child) {
                    &:after {
                        position: relative;
                        float: right;
                        content: '|';
                        font-weight: 500;
                        color: #fff;
                        font-size: 14px;
                        margin: 0 32px;
                    }
                }
            }
        }

        .search-ways {
            z-index: 10;

            .search-bar {
                min-height: 77px;
                background-color: #fff;
                // margin-top: 20px;
                z-index: 9;
                -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
                -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
                box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
                padding: 0 20px;
                display: flex;
                align-items: center;

                .search-bar-top {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    form {
                        display: flex;
                        width: 100%;

                        .search_input {
                            display: flex;
                            width: calc(100% - 160px);
                            padding-right: 15px;
                            float: left;

                            input {
                                width: 100%;
                                height: 50px;
                                background-repeat: no-repeat;
                                background-position: center left 6px;
                                background-image: url(/assets/images/home-page/search-icons/blue-search.svg);
                                padding-left: 60px;
                                font-size: 14px;
                                color: #979BA2;
                                padding-right: 15px;
                                font-weight: 300;
                                border: 0;
                                outline: 0;
                            }
                        }

                        .search-button {
                            width: 137px;
                            height: 47px;
                            background-color: #1f9dff;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: .2s ease;
                            border: 1px solid #1f9dff;
                            font-family: 'Samsung Sharp Sans';
                            font-size: 14px;
                            color: #fff;
                            margin-right: 16px;

                            &:hover {
                                background-color: #fff;
                                color: #1f9dff;
                            }
                        }
                    }

                    .bar_buttons {
                        width: 190px;
                        display: flex;
                        align-items: center;

                        .filter_open {
                            /* width: calc(100% - 153px); */
                            height: 47px;
                            background-color: transparent;
                            font-size: 16px;
                            font-weight: 300;
                            color: #454545;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            transition: .2s ease;
                            padding-left: 10px;
                            border: 0;

                            &::before {
                                position: relative;
                                float: left;
                                width: 15px;
                                height: 15px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(/assets/images/home-page/search-icons/filter-icon.svg);
                                margin-right: 16px;
                                content: '';
                            }
                        }
                    }
                }

                .search-bar-bottom {
                    width: 100%;
                    position: relative;
                    display: none ; 

                    .searc-close {

                        width: 45px;
                        height: 45px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url(/assets/images/home-page/search-icons/close.svg);
                        background-color: #fff;
                        transition: .2s ease;
                        position: absolute;
                        right: 0;
                        top: 0;
                        right: -8px;
                        cursor: pointer;
                        border: 0;


                    }

                }
            }
        }
    }

    #vacancy-tabs {
        width: 100%;

        .categories-text {
            .categories-title {
                margin-top: 40px;

                h1 {
                    font-weight: 700 !important;
                    font-size: 17px !important;
                    line-height: 21px !important;
                    text-transform: uppercase;
                    color: #212944;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 24px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 24px;
                        background-color: #2196F3;
                        display: block;
                        margin-right: 16px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .slider {
            width: 100%;
            height: 300px;
            background-color: transparent;
        }

        .login-text {
            .google-login-btn {
                padding: 10px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #344054;
                border: 1px solid #D0D5DD;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 12px;
                gap: 8px;

            }

            span {
                display: flex;
                align-items: center;
                gap: 5px;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #E4E7EC;
                    flex: 1;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #E4E7EC;
                    flex: 1;
                }
            }

            .login-agreement-text {
                text-align: start;
            }
        }

        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #101828;
            margin-bottom: 4px;
        }

        #loginForm {
            #save_pass {
                &:checked {
                    background-image: url("https://www.hellojob.az/content/assets/images/login/check.svg");
                }
            }


            .login-inputs {
                input {
                    width: 100%;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 9px 14px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #101828;
                    height: auto;

                }

                label {
                    margin-top: 8px;
                    display: block;
                }

            }

            .form-condition {
                margin: 8px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .form-check {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    font-size: 14px;
                    margin: 8px 0pc;


                    input {
                        padding: 0;
                        width: 16px;
                        height: 16px;
                        min-width: 16px;
                        border: 1px solid #D0D5DD;
                        border-radius: 4px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow: hidden;
                        transition: 0.2s linear;
                        cursor: pointer;
                    }
                }
            }

            .login-submit-btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                background: #1f9dff;
                padding: 10px;
                text-align: center;
                border: 1px solid #1f9dff;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                color: white;
                width: 100%;

            }

            .go-register-btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                background: #1f9dff;
                padding: 10px;
                text-align: center;
                border: 1px solid #1f9dff;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                color: white;
                width: 100%;
                color: #344054;
                border-color: #D0D5DD;
                background-color: transparent;
                margin-top: 20px;

            }



        }

        #registerForm {
            .register-inputs {
                input {
                    width: 100%;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 9px 14px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #101828;
                    height: auto;

                }

                label {
                    margin-top: 8px;
                    display: block;
                }

            }

            .form-check {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                font-size: 14px;
            }

            .register-submit-btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                background: #1f9dff;
                padding: 10px;
                text-align: center;
                border: 1px solid #1f9dff;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                color: white;
                width: 100%;

            }

            .go-login-btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                background: #1f9dff;
                padding: 10px;
                text-align: center;
                border: 1px solid #1f9dff;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                color: white;
                width: 100%;
                color: #344054;
                border-color: #D0D5DD;
                background-color: transparent;
                margin-top: 20px;

            }

        }
    }

    #new-vacancies {
        width: 100%;
        height: auto;

        .vacancies-title {

            font-weight: 700 !important;
            font-size: 17px !important;
            line-height: 21px !important;
            text-transform: uppercase;
            color: #212944;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 24px;

            &::before {
                content: "";
                width: 3px;
                height: 24px;
                background-color: #2196F3;
                display: block;
                margin-right: 16px;
                border-radius: 10px;
            }

        }

        .box__item {
            width: 100%;
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            color: #212944;
            padding: 18px;
            border: 1px solid #E4E7EC;
            border-radius: 6px;
            position: relative;
            margin-bottom: 26px;

            .box__fav {
                position: unset;
                width: 32px;
                height: 32px;
                background: #F4F6F9;
                border-radius: 6px;
                margin-left: 28px;

                .unliked-icon {
                    position: absolute;
                    color: #061e40;
                    cursor: pointer;
                    top: 18px;
                    right: 18px;
                    color: #2196F3;
                    background-image: url(/assets/images/home-page/wish-icons/heart.svg);
                    background-size: 18px;
                    height: 30px;
                    width: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }


            .box__main {
                display: flex;
                // align-items: center;
                gap: 24px;

                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                p {

                    color: #212a44;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 300;
                    margin-bottom: 14px;
                    min-height: 24px;

                }


                .box__span {
                    display: flex;
                    gap: 15px;

                    span {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        color: #A3A6AC;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }

            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }


        }


        .sticky-side {
            position: sticky;

            .sticky-banner {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 6px;
                }

                margin-bottom: 24px;
            }

            .sticky-components {
                .company {
                    padding: 10px;
                    border: 1px solid #E4E7EC;
                    border-radius: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #212944;
                    margin-bottom: 24px;

                    img {
                        margin-bottom: 24px;
                        object-fit: contain;
                        height: 30px;

                    }
                }
            }
        }
    }

}






@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 17px 0;
        height: 75px;

        .header-box {
            .menu-button {
                display: block;
            }

            .header-actions {

                .wishlist,
                .ad-announcement-button,
                .login-button {
                    display: none !important;
                }

                .wish-and-theme {
                    .white-mode-btn {
                        background-image: url(/assets/images/home-page/mode-icons/moon_mobile.svg);
                        background-color: transparent;
                    }
                }
            }
        }
    }

    main {
        .search-area {
            .search-tabs {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;


            }

            .search-ways {
                .search-bar {
                    .search-bar-top {


                        form {
                            .search_input {
                                width: 100%;

                                input {
                                    background-position: right;
                                    padding-left: 0px;
                                    background-size: 20px;
                                }
                            }

                            .search-button {
                                display: none;
                            }
                        }

                        .bar_buttons {
                            display: flex;
                            justify-content: end;
                            width: auto;

                            .filter_open {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }

                    .search-bar-bottom {
                        display: block;
                    }

                }
            }
        }

        #new-vacancies {
            .box__item {
                pad: 10px;

                .box__fav {
                    width: 16px;
                    height: 16px;

                    .unliked-icon {
                        height: 20px;
                        width: 15px;
                        background-size: 13px;

                    }
                }

                .box__main {
                    gap: 12px;

                    .box__span {
                        display: flex;
                        gap: 8px;

                        span {
                            font-size: 10px;
                        }
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    font-size: 12px;
                }

            }
        }

    }

}

//Dark mode


body.dark-theme {
    background-color: #081833;
    color: white;


    header {
        .header-box {
            .header-actions {
                .wish-and-theme {
                    .wishlist {
                        background-color: #061E40;
                        background-image: url(/assets/images/home-page/wish-icons/blue-heart.svg);

                    }
                }

                .login-button {
                    background-color: #061E40;
                    color: white;

                    svg path,
                    svg line {
                        stroke: #ffffff;
                    }
                }
            }
        }
    }

    main {
        .search-area {

            .search-ways {
                .search-bar {
                    background-color: #061E40;

                    .search-bar-top {
                        form {
                            .search_input {
                                input {
                                    background-color: transparent;

                                    &::placeholder {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }

                        .bar_buttons {
                            .filter_open {
                                color: white;

                                &::before {
                                    background-image: url(/assets/images/home-page/menu-icons/blue-open-menu.svg);
                                }

                            }
                        }
                    }
                }
            }

        }

        #vacancy-tabs {
            .categories-text {
                .categories-title {
                    h1 {
                        color: white;
                    }

                }
            }


        }

        #new-vacancies {
            .vacancies-title {
                color: white;
            }

            .sticky-side {
                .sticky-components {
                    .company {
                        color: white;
                    }
                }
            }

            .box__item {
                color: white;

                p {
                    color: white;
                }

                .box__main .box__span span {
                    color: white;
                }
            }
        }
    }

}