* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  border: 0;
}
* a {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 25px 0px;
  font-family: "Roboto", sans-serif;
}
header .header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-box .menu-button {
  background-image: url(/assets/images/home-page/menu-icons/open-menu.svg);
  left: 0;
  border: 0;
  margin-top: 2px;
  width: 25px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
header .header-box .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .header-box .header-logo img {
  width: 190px;
  margin-top: 6px;
}
header .header-box .header-actions {
  display: flex;
}
header .header-box .header-actions .user-buttons {
  display: flex;
  align-items: center;
}
header .header-box .header-actions .user-buttons .login-button {
  width: 160px;
  height: 48px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  font-weight: normal;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border: 1px solid transparent;
  background-color: #f3f6f9;
  border-radius: 12px;
}
header .header-box .header-actions .user-buttons .ad-announcement-button {
  width: 160px;
  height: 45px;
  font-size: 16px;
  background-color: #1f9dff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 9px;
  transition: 0.3s ease;
  border: 1px solid #1f9dff;
}
header .header-box .header-actions .user-buttons .ad-announcement-button:hover {
  border: 1px solid #1f9dff;
  background-color: #fff;
  color: #1f9dff;
}
header .header-box .header-actions .user-buttons .ad-announcement-button:hover #Line_1,
header .header-box .header-actions .user-buttons .ad-announcement-button:hover #Line_2,
header .header-box .header-actions .user-buttons .ad-announcement-button:hover #Ellipse_93 {
  stroke: #1f9dff;
}
header .header-box .header-actions .user-buttons svg {
  margin-right: 10px;
  width: 14px;
}
header .header-box .header-actions .wish-and-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .header-box .header-actions .wish-and-theme .wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #061e40;
  width: 40px;
  height: 40px;
  margin-left: 14px;
  background-color: #f3f6f9;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url(/assets/images/home-page/wish-icons/heart.svg);
  background-size: 18px;
  opacity: 1;
}
header .header-box .header-actions .wish-and-theme .white-mode-btn {
  background-image: url(/assets/images/home-page/mode-icons/moon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #f3f6f9;
  border-radius: 12px;
  border: transparent;
}
header .header-box .header-actions .wish-and-theme .night-mode-btn {
  background-image: url(/assets/images/home-page/mode-icons/sun.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #061e40;
  border-radius: 12px;
  border: transparent;
}

.error-message {
  color: red;
}

#dropmenu {
  display: block;
  background-color: #ffffff;
  color: black !important;
  width: 100%;
  height: auto;
  padding: 20px 15px 0px;
  position: absolute;
  height: 100%;
  z-index: 15;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  left: 0;
}
#dropmenu ul {
  list-style: none !important;
  padding: 0;
}
#dropmenu ul .login-button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  font-weight: normal;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border: 1px solid transparent;
  background-color: #f3f6f9;
  border-radius: 12px;
}
#dropmenu ul .ad-announcement-button {
  width: 100%;
  height: 45px;
  font-size: 16px;
  background-color: #1f9dff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 0px;
  margin-top: 7px;
  transition: 0.3s ease;
  border: 1px solid #1f9dff;
}
#dropmenu ul .ad-announcement-button:hover {
  border: 1px solid #1f9dff;
  background-color: #fff;
  color: #1f9dff;
}
#dropmenu ul .ad-announcement-button:hover #Line_1,
#dropmenu ul .ad-announcement-button:hover #Line_2,
#dropmenu ul .ad-announcement-button:hover #Ellipse_93 {
  stroke: #1f9dff;
}
#dropmenu ul li {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding: 14px;
}
#dropmenu ul a {
  color: rgb(0, 0, 0);
  text-decoration: none !important;
}

#dropmenu.show {
  transform: translateX(0);
}

main {
  font-family: "Poppins", sans-serif;
}
main .search-area {
  position: relative;
  padding-top: 25px;
}
main .search-area .blue-box {
  background-color: #1f9dff;
  width: 100%;
  height: 107px;
  position: absolute;
  z-index: 0;
  top: 0;
}
main .search-area .search-tabs {
  position: relative;
  display: flex;
  float: left;
  list-style: none;
  padding: 0;
}
main .search-area .search-tabs .active {
  font-size: 18px;
  font-weight: bold;
}
main .search-area .search-tabs li a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
main .search-area .search-tabs li:not(:last-child):after {
  position: relative;
  float: right;
  content: "|";
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  margin: 0 32px;
}
main .search-area .search-ways {
  z-index: 10;
}
main .search-area .search-ways .search-bar {
  min-height: 77px;
  background-color: #fff;
  z-index: 9;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
main .search-area .search-ways .search-bar .search-bar-top {
  display: flex;
  align-items: center;
  width: 100%;
}
main .search-area .search-ways .search-bar .search-bar-top form {
  display: flex;
  width: 100%;
}
main .search-area .search-ways .search-bar .search-bar-top form .search_input {
  display: flex;
  width: calc(100% - 160px);
  padding-right: 15px;
  float: left;
}
main .search-area .search-ways .search-bar .search-bar-top form .search_input input {
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center left 6px;
  background-image: url(/assets/images/home-page/search-icons/blue-search.svg);
  padding-left: 60px;
  font-size: 14px;
  color: #979BA2;
  padding-right: 15px;
  font-weight: 300;
  border: 0;
  outline: 0;
}
main .search-area .search-ways .search-bar .search-bar-top form .search-button {
  width: 137px;
  height: 47px;
  background-color: #1f9dff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid #1f9dff;
  font-family: "Samsung Sharp Sans";
  font-size: 14px;
  color: #fff;
  margin-right: 16px;
}
main .search-area .search-ways .search-bar .search-bar-top form .search-button:hover {
  background-color: #fff;
  color: #1f9dff;
}
main .search-area .search-ways .search-bar .search-bar-top .bar_buttons {
  width: 190px;
  display: flex;
  align-items: center;
}
main .search-area .search-ways .search-bar .search-bar-top .bar_buttons .filter_open {
  /* width: calc(100% - 153px); */
  height: 47px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  color: #454545;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  padding-left: 10px;
  border: 0;
}
main .search-area .search-ways .search-bar .search-bar-top .bar_buttons .filter_open::before {
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/home-page/search-icons/filter-icon.svg);
  margin-right: 16px;
  content: "";
}
main .search-area .search-ways .search-bar .search-bar-bottom {
  width: 100%;
  position: relative;
  display: none;
  padding: 30px 0px;
}
main .search-area .search-ways .search-bar .search-bar-bottom .searc-close {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/home-page/search-icons/close.svg);
  background-color: #fff;
  transition: 0.2s ease;
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  right: -8px;
  cursor: pointer;
  border: 0;
}
main .search-area .search-ways .search-bar .search-bar-bottom select {
  width: 100%;
  height: 52px;
  background-color: #fff;
  border-radius: 6px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  padding: 0px 10px;
  margin: 8px;
}
main .search-area .search-ways .search-bar .search-bar-bottom .search_checks {
  padding: 20px 10px 0px 20px;
  display: flex;
  gap: 10px;
}
main .search-area .search-ways .search-bar .search-bar-bottom .search_checks label {
  display: flex;
  align-items: center;
  gap: 4px;
}
main .search-area .search-ways .search-bar .search-bar-bottom .search_checks label p {
  margin: 0;
}
main .search-area .search-ways .search-bar .search-bar-bottom .search_results {
  display: flex;
  align-items: center;
  justify-content: end;
}
main .search-area .search-ways .search-bar .search-bar-bottom .search_results .clear-btn {
  border: 0;
  margin: 0px 10px;
  background-color: transparent;
  text-decoration: underline;
}
main .search-area .search-ways .search-bar .search-bar-bottom .filtered-search-btn {
  width: 232px;
  height: 52px;
  border-radius: 6px;
  color: #fff;
  background-color: #1f9dff;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s ease;
  text-decoration: none;
  border: 0;
}
main #vacancy-tabs {
  width: 100%;
}
main #vacancy-tabs .categories-text .categories-title {
  margin-top: 40px;
}
main #vacancy-tabs .categories-text .categories-title h1 {
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 21px !important;
  text-transform: uppercase;
  color: #212944;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
main #vacancy-tabs .categories-text .categories-title h1::before {
  content: "";
  width: 3px;
  height: 24px;
  background-color: #2196F3;
  display: block;
  margin-right: 16px;
  border-radius: 10px;
}
main #vacancy-tabs .vacancies-box {
  width: 100%;
}
main #vacancy-tabs .vacancies-box .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide .slider-card {
  position: relative;
  width: 100%;
  height: 154px;
  white-space: nowrap;
  max-width: 170px;
  font-family: "Poppins", sans-serif;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide .slider-card a {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  border: 1px solid #EDEDED;
  padding: 22px 10px;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide .slider-card img {
  width: 48px;
  height: 48px;
  transition: 0.3s ease;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide .slider-card .slider-name {
  text-align: center;
  margin-top: 15px;
  color: #2196F3;
  font-size: 15px;
}
main #vacancy-tabs .vacancies-box .swiper .swiper-slide .slider-card .slider-count {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: #A3A6AC;
  font-family: "Samsung Sharp Sans";
}
main #vacancy-tabs .vacancies-box .swiper-button-next,
main #vacancy-tabs .vacancies-box .swiper-button-prev {
  width: 48px;
  height: 48px;
  background-image: url("https://www.hellojob.az/content/assets/images/profile/svg-icons/arrow-right-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translateY(-50%);
  margin-top: -3px;
  background-color: white;
  background-size: 25%;
  z-index: 5;
}
main #vacancy-tabs .vacancies-box .swiper-button-next:after,
main #vacancy-tabs .vacancies-box .swiper-button-prev:after {
  height: 100%;
  width: 60px;
  top: 0;
  z-index: 5;
  content: "";
  position: absolute;
  right: 0;
  pointer-events: none;
}
main #vacancy-tabs .vacancies-box .swiper-button-prev {
  margin-left: -27px;
  transform: translateY(-50%) rotate(180deg);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
main #vacancy-tabs .vacancies-box .swiper-button-next {
  margin-right: -27px;
}
main #vacancy-tabs .login-text .google-login-btn {
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  border: 1px solid #D0D5DD;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
  gap: 8px;
}
main #vacancy-tabs .login-text span {
  display: flex;
  align-items: center;
  gap: 5px;
}
main #vacancy-tabs .login-text span::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E4E7EC;
  flex: 1;
}
main #vacancy-tabs .login-text span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E4E7EC;
  flex: 1;
}
main #vacancy-tabs .login-text .login-agreement-text {
  text-align: start;
}
main #vacancy-tabs h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  margin-bottom: 4px;
}
main #vacancy-tabs #loginForm #save_pass:checked {
  background-image: url("https://www.hellojob.az/content/assets/images/login/check.svg");
}
main #vacancy-tabs #loginForm .login-inputs input {
  width: 100%;
  border: 1px solid #D0D5DD;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  height: auto;
}
main #vacancy-tabs #loginForm .login-inputs label {
  margin-top: 8px;
  display: block;
}
main #vacancy-tabs #loginForm .form-condition {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #vacancy-tabs #loginForm .form-condition .form-check {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  margin: 8px 0pc;
}
main #vacancy-tabs #loginForm .form-condition .form-check input {
  padding: 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 0.2s linear;
  cursor: pointer;
}
main #vacancy-tabs #loginForm .login-submit-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #1f9dff;
  padding: 10px;
  text-align: center;
  border: 1px solid #1f9dff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  width: 100%;
}
main #vacancy-tabs #loginForm .go-register-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #1f9dff;
  padding: 10px;
  text-align: center;
  border: 1px solid #1f9dff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  width: 100%;
  color: #344054;
  border-color: #D0D5DD;
  background-color: transparent;
  margin-top: 20px;
}
main #vacancy-tabs #registerForm .register-inputs input {
  width: 100%;
  border: 1px solid #D0D5DD;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  height: auto;
}
main #vacancy-tabs #registerForm .register-inputs label {
  margin-top: 8px;
  display: block;
}
main #vacancy-tabs #registerForm .form-check {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}
main #vacancy-tabs #registerForm .register-submit-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #1f9dff;
  padding: 10px;
  text-align: center;
  border: 1px solid #1f9dff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  width: 100%;
}
main #vacancy-tabs #registerForm .go-login-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #1f9dff;
  padding: 10px;
  text-align: center;
  border: 1px solid #1f9dff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  width: 100%;
  color: #344054;
  border-color: #D0D5DD;
  background-color: transparent;
  margin-top: 20px;
}
main #new-vacancies {
  width: 100%;
  height: auto;
}
main #new-vacancies .pagination {
  display: flex;
  justify-content: center;
}
main #new-vacancies .pagination__list {
  display: flex;
  list-style-type: none;
}
main #new-vacancies .pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212944;
  width: 40px;
  height: 40px;
}
main #new-vacancies .pagination__item--active {
  font-weight: 800;
  background: #F4F6F9;
  color: #1f9dff;
}
main #new-vacancies .vacancies-title {
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 21px !important;
  text-transform: uppercase;
  color: #212944;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
main #new-vacancies .vacancies-title::before {
  content: "";
  width: 3px;
  height: 24px;
  background-color: #2196F3;
  display: block;
  margin-right: 16px;
  border-radius: 10px;
}
main #new-vacancies .box__item {
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  color: #212944;
  padding: 18px;
  border: 1px solid #E4E7EC;
  border-radius: 6px;
  position: relative;
  margin-bottom: 26px;
}
main #new-vacancies .box__item .box__fav {
  position: unset;
  width: 32px;
  height: 32px;
  background: #F4F6F9;
  border-radius: 6px;
  margin-left: 28px;
}
main #new-vacancies .box__item .box__fav .unliked-icon {
  position: absolute;
  color: #061e40;
  cursor: pointer;
  top: 18px;
  right: 18px;
  color: #2196F3;
  background-image: url(/assets/images/home-page/wish-icons/heart.svg);
  background-size: 18px;
  height: 30px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
main #new-vacancies .box__item .box__main {
  display: flex;
  gap: 24px;
}
main #new-vacancies .box__item .box__main h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
main #new-vacancies .box__item .box__main p {
  color: #212a44;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 14px;
  min-height: 24px;
}
main #new-vacancies .box__item .box__main .box__span {
  display: flex;
  gap: 15px;
}
main #new-vacancies .box__item .box__main .box__span span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #A3A6AC;
  font-size: 14px;
  font-weight: 300;
}
main #new-vacancies .box__item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
main #new-vacancies .sticky-side {
  position: sticky;
}
main #new-vacancies .sticky-side .sticky-banner {
  margin-bottom: 24px;
}
main #new-vacancies .sticky-side .sticky-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
main #new-vacancies .sticky-side .sticky-components .company {
  padding: 10px;
  border: 1px solid #E4E7EC;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212944;
  margin-bottom: 24px;
}
main #new-vacancies .sticky-side .sticky-components .company img {
  margin-bottom: 24px;
  object-fit: contain;
  height: 30px;
}

footer {
  background-color: #212944;
  padding: 64px 0 24px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
footer .footer-top {
  padding-bottom: 50px;
  border-bottom: 0.5px solid #2196F3;
  margin-bottom: 38px;
}
footer .footer-top a {
  display: inline-block;
  color: white;
}
footer .footer-top .logo {
  width: 230px;
}
footer .footer-top .logo img {
  margin-bottom: 13px;
}
footer .footer-top .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #70B9F2;
  margin-bottom: 16px;
  display: block;
}
footer .footer-top ul {
  padding: 0;
}
footer .footer-top ul li {
  margin-bottom: 12px;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #E4E7EC;
}
footer .footer-bottom .social {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 17px 0;
    height: 75px;
  }
  header .header-box .menu-button {
    display: block;
  }
  header .header-box .header-actions .wishlist,
  header .header-box .header-actions .ad-announcement-button,
  header .header-box .header-actions .login-button {
    display: none !important;
  }
  header .header-box .header-actions .wish-and-theme .white-mode-btn {
    background-image: url(/assets/images/home-page/mode-icons/moon_mobile.svg);
    background-color: transparent;
  }
  main .search-area .search-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .search-area .search-ways .search-bar .search-bar-top form .search_input {
    width: 100%;
  }
  main .search-area .search-ways .search-bar .search-bar-top form .search_input input {
    background-position: right;
    padding-left: 0px;
    background-size: 20px;
  }
  main .search-area .search-ways .search-bar .search-bar-top form .search-button {
    display: none;
  }
  main .search-area .search-ways .search-bar .search-bar-top .bar_buttons {
    display: flex;
    justify-content: end;
    width: auto;
  }
  main .search-area .search-ways .search-bar .search-bar-top .bar_buttons .filter_open span {
    display: none;
  }
  main .search-area .search-ways .search-bar .search-bar-bottom .search_checks {
    flex-wrap: wrap;
  }
  main .search-area .search-ways .search-bar .search-bar-bottom .search_checks label {
    font-size: 16px;
    width: 46%;
    margin-right: 10px;
    float: left;
    margin-bottom: 15px;
  }
  main #new-vacancies .box__item {
    pad: 10px;
  }
  main #new-vacancies .box__item .box__fav {
    width: 16px;
    height: 16px;
  }
  main #new-vacancies .box__item .box__fav .unliked-icon {
    height: 20px;
    width: 15px;
    background-size: 13px;
  }
  main #new-vacancies .box__item .box__main {
    gap: 12px;
  }
  main #new-vacancies .box__item .box__main .box__span {
    display: flex;
    gap: 8px;
  }
  main #new-vacancies .box__item .box__main .box__span span {
    font-size: 10px;
  }
  main #new-vacancies .box__item img {
    width: 30px;
    height: 30px;
  }
  main #new-vacancies .box__item p {
    font-size: 12px;
  }
}
body.dark-theme {
  background-color: #081833;
  color: white;
}
body.dark-theme header .header-box .header-actions .wish-and-theme .wishlist {
  background-color: #061E40;
  background-image: url(/assets/images/home-page/wish-icons/blue-heart.svg);
}
body.dark-theme header .header-box .header-actions .login-button {
  background-color: #061E40;
  color: white;
}
body.dark-theme header .header-box .header-actions .login-button svg path,
body.dark-theme header .header-box .header-actions .login-button svg line {
  stroke: #ffffff;
}
body.dark-theme main .search-area .search-ways .search-bar {
  background-color: #061E40;
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-top form .search_input input {
  background-color: transparent;
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-top form .search_input input::placeholder {
  color: #ffffff;
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-top .bar_buttons .filter_open {
  color: white;
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-top .bar_buttons .filter_open::before {
  background-image: url(/assets/images/home-page/menu-icons/blue-open-menu.svg);
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-bottom select {
  background-color: #081833;
  color: white;
}
body.dark-theme main .search-area .search-ways .search-bar .search-bar-bottom button {
  color: #fff;
}
body.dark-theme main #vacancy-tabs .categories-text .categories-title h1 {
  color: white;
}
body.dark-theme main #new-vacancies .vacancies-title {
  color: white;
}
body.dark-theme main #new-vacancies .sticky-side .sticky-components .company {
  color: white;
}
body.dark-theme main #new-vacancies .box__item {
  color: white;
}
body.dark-theme main #new-vacancies .box__item p {
  color: white;
}
body.dark-theme main #new-vacancies .box__item .box__main .box__span span {
  color: white;
}